<IfModule mod_negotiation.c>
Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
RewriteCond %{HTTP_HOST} ^greenstein-designagentur.de$ [OR]
RewriteCond %{HTTP_HOST} ^www.greenstein-designagentur.de$
RewriteRule (.*)$ https://greenstein.design/$1 [R=301,L]
</IfModule>

AddType application/javascript js