@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Bold;
    src: url('assets/font/CyBold.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Cy Black;
    src: url('assets/font/CyBlack.ttf');
    font-weight: normal;
}